* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  --notion-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif;
  font-family: var(--notion-font);
  overflow-x: hidden;
}


.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.notion-page-icon-inline img {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover
}

.notion-aside-table-of-contents .notion-table-of-contents-item-body {
  border: 0;
  font-weight: 500;
}
.notion-table-of-contents-item {
  opacity: 0.95;
  transition: all 0.3s 
}

.notion-table-of-contents-item:hover {
  opacity: 1;
  font-size: 0.9em;
  transition: all 0.15s ease;
}

.notion-search .noResultsDetail {
    font-size: 14px;
    margin-top: 2px;
    color: gray;
}

.notion-search .noResults {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: white;
}
.notion-search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0,0%,6%,.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1001;
  backdrop-filter: blur(8px);
  transition: all 0.6s ease-in-out
}

.notion-search {
  box-shadow: 0 0 0 1px hsla(0,0%,6%,.05),0 5px 10px hsla(0,0%,6%,.1),0 15px 40px hsla(0,0%,6%,.2);
  border-radius: 3px;
  background: var(--bg-color);
  position: relative;
  top: 90px;
  max-width: 600px;
  min-height: 50px;
  max-height: 80vh;
  width: 75%;
  overflow: hidden;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(55, 53, 47, 1);
  caret-color: #37352f;
  font-family: var(--notion-font)
}
.notion-aside-table-of-contents-header {
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 1.1em;
  word-break: break-word;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
  background-color: var(--bg-color-1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--fg-color-1);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

/* Comments */

.post-comments {
  width: 70%;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 720px) {
  .post-comments {
    width: 85%;
    padding-bottom: 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .post-comments {
    width: 60%;
    padding-bottom: 3rem;
  }
}
